* {
        font-family: 'Source Serif Pro';
}

body {
        color: #000;
        overflow-x: hidden;
        background-image: linear-gradient(to right, #fb17fb, #0de1fd);
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        min-height: 100vh;
    }
    
    input, textarea {
        background-color: #F3E5F5;
        border-radius: 50px !important;
        padding: 12px 15px 12px 15px !important;
        width: 100%;
        box-sizing: border-box;
        border: none !important;
        border: 1px solid #F3E5F5 !important;
        font-size: 16px !important;
        color: #000 !important;
        font-weight: 400;
    }
    
    input:focus, textarea:focus {
        -moz-box-shadow: none !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        border: 2px solid #D500F9 !important;
        outline-width: 0px;
        font-weight: 400;
        transform: scale(1.05);
        transition: .5s;
    }
    
    button:focus {
        -moz-box-shadow: none !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        outline-width: 0;
    }
    
    .card {
        border-radius: 0;
        border: none;
    }
    
    .card2 {
        width: 50%;
        padding: 40px 30px 10px 30px;
    }
    
    .card1 {
        width: 50%;
        background-image: linear-gradient(to right, #0de1fd, #fb17fb);
    }
    
    #logo {
        width: 100px;
        height: 100px;
    }
    
    .heading {
        margin-bottom: 60px !important;
        color:rgb(53, 255, 217);
    }
    
    ::placeholder {
        color: rgb(126, 110, 110) !important;
        opacity: 1;
        font-size: small;
    }

    .form-control-label {
        font-size: 16px;
        margin-left: 15px;

    }
    
    .msg-info {
        padding-left: 15px;
        margin-bottom: 30px;
    }
    
    .btn-color {
        border-radius: 50px;
        color: #fff;
        background-image: linear-gradient(to right, #0de1fd, #fb17fb);
        padding: 15px;
        cursor: pointer;
        border: none !important;
        margin-top: 40px;
    }
    
    .btn-color:hover {
        color: #fff;
        background-image: linear-gradient(to right, #fb17fb, #0de1fd);
    }
    
    .btn-white {
        border-radius: 50px;
        color: #980eb1;
        background-color: #fff;
        padding: 8px 40px;
        cursor: pointer;
        border: 2px solid #980eb1 !important;
    }
    
    .btn-white:hover {
        color: #fff;
        background-image: linear-gradient(to right, #0de1fd, #fb17fb);
    }
    
    a:hover {
        color: rgb(85, 12, 119);
    }
    
    .bottom {
        width: 100%;
        margin-top: 40px !important;
    }
    
    .sm-text {
        font-size: 15px;
    }
    
    @media screen and (max-width: 992px) {
        .card1 {
            width: 100%;
            padding: 40px 30px 10px 30px;
        }
    
        .card2 {
            width: 100%;
        }
    
        .right {
            margin-top: 100px !important;
            margin-bottom: 100px !important;
        }
    }
    
    @media screen and (max-width: 768px) {
        .container {
            padding: 10px !important;
        }
    
        .card1 {
            padding: 50px;
        }
    
        .right {
            margin-top: 50px !important;
            margin-bottom: 50px !important;
        }
    }

    #pwdHelp{
        display: none;
}

.pwd_notmatch{
        color: red;
}
.pwd_notmatch:before{
        content:"✖";
}

.pwd_match{
        color: green;
}
.pwd_match:before{
        content:  "✔";
}

/* pwd_message */
#pwd_message{
        background-color: rgba(220, 180, 180, 0.2);
        border-radius: 5px;
}

.valid {
        color: #107d10;
}      
.valid:before {
        content: "✔ ";
}

.invalid {
        color: #a90202;
}
.invalid:before {
        content: "✖";
}

#show_pwd, #show_old_pwd, #show_new_pwd{
        display: none;
}

#show_old_pwd:hover, #hide_old_pwd:hover, #show_new_pwd:hover, #hide_new_pwd:hover{
        cursor: pointer;
}

#show_pwd:hover, #hide_pwd:hover{
        cursor: pointer;
}